---
layout: default
section: blog
---

{% if page.splash %}
  {% if page.splash contains 'http' %}
    {% capture url %}{{page.splash}}{% endcapture %}
  {% else %}
    {% capture url %}{{site.baseurl}}{{page.splash}}/{% endcapture %}
  {% endif %}

  <div class='col12 splash'>
    <img src='{{site.baseurl}}{{url}}' alt='' />
  </div>
{% endif %}

<div class='col12 clearfix'>
  <div class='col8 margin2 pad4x pad2y'>
    <h1>{{page.title}}</h1>
    <div class='prose pad2y'>
      {{content}}
    </div>

    <div class='text-right'>
      <small class='quiet'>&#8212; {{page.date | date: '%B %d, %Y'}}</small>
    </div>

    <div class='pad4y'>
      <a class='rss' href='{{site.baseurl}}/blog.rss'>Subscribe via RSS</a>
    </div>
  </div>
</div>
