---
navigation:
  - title: 'Blog'
    category: blog
    path: '/blog'
  - title: 'Curriculum Vitae'
    category: cv
    path: '/cv'
---
<!DOCTYPE html>
<html>
<head>
  <meta charset='UTF-8'/>
  <title>{% if page.url == '/' %}Lisa Toole{% else %}{{page.title}} | Lisa Toole{% endif %}</title>
  <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
  <link rel='alternate' type='application/rss+xml' title='RSS' href='lisatoole.com/blog.rss' />
  <link rel='shortcut icon' href='{{site.baseurl}}/img/favicon.ico' type='image/x-icon' />
  <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,400italic' rel='stylesheet'>
  <link href='{{site.baseurl}}/site.css' rel='stylesheet' />
</head>
<body>

<div class='wrapper limiter'>
  <header class='contain'>
    <nav class='fr'>
      {% for item in page.navigation %}
      <a class='{% if page.category == item.category or page.url == item.path %}active{% endif %}' href='{{item.path}}/'>{{item.title}}</a>
      {% endfor %}
    </nav>
    <h1><a href='{{site.baseurl}}/'>Lisa Toole</a></h1>
  </header>
  {{content}}
</div>

<footer class='limiter pad2y pad4x center'>
  +1(202) 588 1068 | <span class='email reverse'>moc.liamg@e.asil.eloot</span><a href='https://twitter.com/toolelisae' class='twitter-follow-button' data-show-count='false'>Follow @toolelisae</a>
</footer>

<script>
  // Twitter Button
  !function(d, s, id) {
      var js,
          fjs = d.getElementsByTagName(s)[0];

      if (!d.getElementById(id) ) {
          js = d.createElement(s);
          js.id = id;
          js.src = '//platform.twitter.com/widgets.js';
          fjs.parentNode.insertBefore(js, fjs);
      }
  }(document,'script','twitter-wjs');

  // Google Analytics
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-36610317-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
</body>
</html>
